body {
  font-size: 16px;
}

h2 {
  padding-left: 1em;
  font-size: 1.1em;
}

main p {
  margin-bottom: 1em;
}

main ul {
  margin-bottom: 1em;
}

main ul li {
  list-style-type: square;
  margin: 0 2em;
}

.github {
  margin-top: 5em;
  text-align: center;
  font-weight: bold;
}

ul li {
  /* border: 1px solid black; */
  max-width: 300px;
}

main ul li a:first-child {
  margin-left: auto;
  margin-right: 0.5em;
}

.list-item {
  display: flex;
}
